.results-container {
  padding: 20px;
  width: calc(100% - 20px);
}

.intro-text,
.address-text,
.heading {
  font-family: 'Titillium Web', Arial, sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
}

.layout-container {
  position: relative;
  overflow: hidden;
}

.move-left {
  transform: translateX(-25%);
}

.restaurant-list {
  display: flex;
  flex-direction: column;
  max-height: 400px; /* Set a maximum height */
  overflow-y: auto; /* Enable vertical scrolling */
  align-items: center; /* Center items horizontally */
}


.restaurant-box {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  /* width: 400px; Remove this line */
  margin: 0 auto;
}


.restaurant-item {
  cursor: pointer;
  margin-bottom: 20px;
  display: inline-block;
  width: 50%; /* Set a fixed width for the clickable area */
  text-align: center; /* Center the content inside the clickable area */
}

.selected-restaurant {
  position: absolute;
  top: 0;
  left: 100%;
  width: calc(100% - 20px);
  height: 100%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.restaurant-box.move-left {
  transform: translateX(-20%);
}

.restaurant-box:hover {
  background-color: #f9f9f9;
}

.restaurant-logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.restaurant-info {
  flex: 1;
}

.selected-heading {
  font-size: 20px;
  margin-bottom: 10px;
}

.selected-address {
  font-size: 16px;
}
